<strong>Here you would put the actual form to start the process</strong>

<p>
  You can use this form through Camunda Tasklist
  by setting the formKey of a BPMN Start Event to:
  <code>embedded:app:forms/start-form.html</code>
</p>

<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label">Tweet content to be published</label>
    <div class="controls">
      <input type="text"
             cam-variable-name="content"
             cam-variable-type="String"
             required
             class="form-control" />
    </div>
  </div>

  <script cam-script type="text/form-script">
  // custom JavaScript goes here
  </script>
</form>
